/* CSS Reset and Base Styles */


@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Ruslan+Display&display=swap');

*, :after, :before {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    height: 100%;
  }
  canvas, img, picture, svg, video {
    display: block;
    max-width: 100%;
  }
  button, input, select, textarea {
    font: inherit;
  }
  h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
  }
  button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    color: currentColor;
    text-decoration: none;
  }
  .main-wrapper {
    position: relative;
    height: 100%;
  }

  /*hero*/
  .hero{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .heroContainer{
    display: grid;
    grid-template-areas: 
    "lefth righth"
    "bottomh bottomh";
    gap: 5rem;
  }
  .leftHero{
    grid-area: lefth;
    
  }
  #photoContainer{
    width: 18rem;
    height: 20rem;
    background-color: white;
    transform: rotate(-5deg);
  }
  
  .rightHero{
    grid-area: righth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    
  }
  .rightHero H1{
    font-size: 3em;
    line-height: 3rem;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .rightHero p{
    max-width: 20rem;
    line-height: 1rem;
    font-family: monospace;
  }
  .BIGTEXT{
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
  }
  #middelRightHero{
    margin-left: 3rem;
  }
  #bottomRightHero{
    margin-left: 6rem;
  }
  .bottomHero{
    grid-area: bottomh; 
    display: flex;
    flex-direction: column;
  }
  .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroContact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    font-size: 0.9em;
  }
  #email, #availabelforwork{
    padding: 0.3rem;
    border-radius: 20px;
  }
  #availabelforwork{
    color: hsl(120, 16%, 29%);
  }


/*experrties*/
  .experties{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .expContainer{
    position: relative;
    width: 90%;
    height: 100%;
  }
  .Card{
    width: 25rem;
    height: 85%;
    max-height:85%;
    
  }
 
  .leftExp{
    position: absolute;
    left: 22%;
    top: 2rem;
    box-shadow: 20px 10px 10rem rgba(105, 105, 105, 0.76);
    transform: rotate(1deg);
    z-index: 0;
    transition: 0.1s linear;
  }
  .leftExp:hover{
    box-shadow: none;
    z-index: 1;
    transform: rotate(-2deg);
  }
  .topLeftExp{
    background-image: url(../public/img/file_00000000700c61f89f286be7b7c1cefb.jpg);
    background-size: cover;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60%;
  }
  .leftExpTitel{
    height: 35%;
  }
  .EducationDes{
    border-top: 2px rgba(0, 0, 0, 0.493) dashed;
    padding: 2px;
  }
  .EducationDes >p{
    font-family: monospace;
    font-size: 1.1em;
    font-weight:450;
  }
  .EducationDes >h2{
    font-size: 1em;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .leftExpTitel{
    font-family: "Ruslan Display", sans-serif;
    font-size: 2em;
    text-shadow: 0px 10px rgba(0, 0, 0, 0.322);
  }
  .bottomLeftExp{
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    height: 40%;
  }
  .skills h1 ,.techStack h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 10;
    color: rgb(136, 115, 115);
    font-size: 1.8em;
  }
  .skillWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #skill{
    font-family: monospace;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: start;
  }


  .rightExp{
    background-image: url(../public/img/file_00000000d5c86246b98a1a8d3b99a148~2.jpg);
    background-size:auto;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 2rem;
    right: 22%;
    transform: rotate(-2deg);
    z-index: 0;
    transition: 0.1s linear;
  }
  .rightExp:hover{
    box-shadow: -10px -10px 9rem rgba(190, 168, 168, 0.438);
    z-index: 1;
    transform: rotate(1deg);
  }
  .RightExpTitel{
    font-family:"Alfa Slab One", serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 100; 
    margin-bottom: 1.2rem;
  }
  .RightExpTitel span{
    padding-left: 5px;
    font-weight: 100;
    background-color: black;
    color: white;
  }
  .expDes{
    border-top: 2px rgba(0, 0, 0, 0.493) dashed;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .expDes p{
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight:450;
    color: rgb(87, 83, 83);
  }
  .expDes h2{
    font-size: 1em;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .expDes h1{
    font-size: 1em;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .topDes{
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    margin-top: 3px;
  }
  #expResponsabilties{
    line-height: 1;
    padding-left: 1rem;
    margin-bottom: 5px;
  }
  #expDEstitel{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


/*work */
  .projects-section {
    position: relative;
    height: 500vh; /* 5 thumbnails × 100vh each */
    width: 100%;
  }
  .workContainer{
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 100vh;
  }

  /* side 40*/
  .side40{
    width: 40%;
    height: 100vh;
    background-color: rgb(209, 208, 209) ;
    color: black;
    padding: 2rem 1rem;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }
  .projects{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    padding-bottom: 4rem;
    margin-bottom: 30%;
  }
  .workList{
    display: flex;
    gap: 1rem;
    
  }
  .projectsNum{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workIndex p{
    color: rgb(0, 0, 0);
    font-size: 9em;
    line-height: 1;
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .midWork{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    padding-bottom: 1rem;
    cursor: pointer;
    transition: ease-in-out 0.5s;
  }
  .midWork:hover{
    color: rgb(129, 127, 127);
    border-bottom: 1px solid rgba(129, 127, 127, 0.801); 
  }
  .workTitel h1{
    font-family: "Alfa Slab One", monospace;
    font-size: 5em;
    line-height: 1;
    
  }

  /*side 60*/
  .side60{
    width: 60%;
    position: relative;
    background-color: black;
    height: 100vh;
    overflow: hidden;
  }
  .bgImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 1;
    transition: opacity .65s cubic-bezier(.445,.05,.55,.95);
    filter:blur(0.2rem);
  }

  
  .project-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    z-index: 1;
  }

  #slide1 { top: 0vh; }
  #slide2 { top: 100vh; }
  #slide3 { top: 200vh; }
  #slide4 { top: 300vh; }
  #slide5 { top: 400vh; }


  .thumbnailContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  /* Thumbnail style */
  .thumbnail{
    width: 500px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
  }
  .active-bg {
    opacity: 1;
  }
  
  .inactive-bg {
    opacity: 0;
  }
  /*contact*/
  .contact{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: black;
    position: sticky;
  }
  