/* CSS Reset and Base Styles */
*, :after, :before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  background-color: black;
}
canvas, img, svg {
  display: block;
  max-width: 100%;
}
button, input, select, textarea {
  font: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}



/* header css */
header{
  background-color: transparent;
  width: 100%;
  height: 3rem;
  position: fixed;
  top:0;
  padding: 3px 21px;
}
.headerConatiner{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerConatiner > div{
  min-height: 100%;
}
.side60{
  width: 61%;
  height: 100%;
}
.side40{
  width: 39%;
  height: 100%;
}
.leftHeaderWrapper{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-right: 1rem;
}
.leftHeaderWrapper > div{
  max-width: 2.4rem;
}
.rightHeaderWrapper{
  display: flex; 
  justify-content: end;
  align-items: center;
  height: 100%;
}
.rightHeaderWrapper > div {
  max-width: 2.4rem;
}

#OppenMenu , #closeMenu{
  width: 1.7rem;
  height: 0.5rem;
  cursor: pointer;
}
.hidden{
  opacity: 0;
}
